@model IEnumerable<Gameoflife.Models.UserGame>

@{
    ViewBag.Title = "My Saved Games";
}

<h2>My Saved Games</h2>


  
        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Width)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cells)
                </th>
                <th>

                </th>
            </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Width)
                    </td>
                    <td>
                        <pre style="white-space: pre-line;"> 
                @Html.DisplayFor(modelItem => item.Cells)
           </pre>
                    </td>
                    <td>
                        @Html.ActionLink("Play Game", "PlaySavedGame", "UserGames", new { gameIndex = item.UserGameID }, null)
                        
                    </td>
                    <td>
                        @Html.ActionLink("Delete Game", "DeleteSavedGame", "UserGames", new { gameIndex = item.UserGameID }, null)
                    </td>
                </tr>
                
            }

        </table>
   