@model IEnumerable<Gameoflife.Models.UserTemplate>

@{
    ViewBag.Title = "All Templates";
}

<h2>All Templates</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Created By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cells)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td><pre>
            @Html.DisplayFor(modelItem => item.Cells).ToString()
            
            </pre>
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTemplateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTemplateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTemplateID })
        </td>
    </tr>
}

</table>
